# Script raw data download
kaggle==1.6.17

# Data handling
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.2
tensorflow # for CPU and GPU
keras==3.6.0